frontend/
node_modules/
__pycache__/
*.pyc
.git/
.gitignore
venv/
uv.lock
audio/Clinical Case recordings/
faiss_transcript_store/
audio/edited_transcript.txt
audio/transcript_chunks.jsonl
audio/medical_entities.json
*.mp3
*.wav
